.verify_email_container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--bg-primary);
    background-image:
        linear-gradient(to right, var(--border-secondary) 1px, transparent 1px),
        linear-gradient(to bottom, var(--border-secondary) 1px, transparent 1px);
    background-size: 30px 30px;
}

.send_otp_container {
    width: 400px;
    box-shadow: var(--box-shadow-primary);
    background-color: var(--bg-secondary);
    padding: 2rem 2rem 2rem 2rem;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.otp_heading {
    text-align: center;
    color: var(--text-color-tertiary-light);
    font-size: 2rem;
    user-select: none;
    text-transform: uppercase;
    font-weight: 400;
    font-family: var(--font-secondary);
    word-spacing: 0.2rem;
    letter-spacing: 0.05rem;
    margin-bottom: 2rem;
}

.button {
    width: 55%;
    align-self: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.otp_description {
    text-align: center;
    font-size: 1.5rem;
    color: var(--text-color-primary-bright);
    font-weight: 500;
    margin-bottom: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
}

.input_container {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 2rem;
}

.input_container input {
    background-color: red;
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 5px;
    background: var(--bg-primary);
    text-align: center;
    color: var(--text-color-secondary-light);
    font-size: 2.3rem;
    font-weight: 500;
}

.otp_input:focus {
    border: 2px solid var(--bg-button);
}

.form .error_message {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.4rem;
    text-transform: lowercase;
    color: #ff5656;
    letter-spacing: 0.04rem;
    text-align: center;
}

.otp_description span {
    text-decoration: underline;
    cursor: pointer;
    margin-left: 0.5rem;
    color: var(--text-color-primary-bright);
}

.try_again {
    color: var(--text-color-secondary-light);
}

@media (max-width: 1200px) {
    /* large desktops */
}

@media (max-width: 1024px) {
    /* laptops */
}

@media (max-width: 600px) {

    /* tablets */
    .otp_description span {
        display: block;
        margin-top: 1rem;
    }
}

@media (max-width: 480px) {
    /* phones */
}

@media (max-width: 360px) {
    /* small phones */
}