.view_full_note {
    background: var(--bg-primary);
    width: 70rem;
    border-radius: 5px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: relative;
    width: 100vw;
    height: 100vh;

}

.view_full_note .head {
    color: var(--text-color-secondary-light);
    font-size: 2.5rem;
    text-transform: lowercase;
    font-family: var(--font-four);
    font-weight: 600;
    letter-spacing: 0.1rem;
    word-spacing: 0.1rem;
}

.view_full_note .desc {
    color: var(--text-color-tertiary-light);
    font-family: var(--font-four);
    font-size: 1.7rem;
    letter-spacing: 0.05rem;
    word-spacing: 0.04rem;
    overflow-y: auto;
    height: calc(100% - 25rem);
    margin-top: 1rem;
}

.view_full_note .time_info {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.time_info p {
    font-size: 1.5rem;
    color: var(--text-color-primary-bright);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.1rem;
}

.view_full_note .action_btn {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.action_btn .action {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    background: var(--bg-secondary);
    border-radius: 5px;
    font-size: 2rem;
    color: var(--text-color-primary-bright);
    cursor: pointer;
    transition: var(--transition);
}

.action_btn .action:hover {
    background: var(--hover-primary);
    color: var(--text-color-primary-light);
}

.view_full_note .close {
    position: absolute;
top: 1rem;
    right: 1rem;
    font-size: 2rem;
    width: 4rem;
    cursor: pointer;
    height: 4rem;
    background: var(--bg-button);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color-white);
    font-size: 2rem;
    transition: var(--transition);
    border-radius: 5px;
    border: 2px solid transparent;
}

.view_full_note .close:hover {
    background-color: var(--bg-primary);
    border-color: var(--border-primary);
    color: var(--text-color-primary-light);
}


@media (max-width: 1200px) {
    /* large desktops */
}

@media (max-width: 1024px) {
    /* laptops */
}

@media (max-width: 600px) {

    /* tablets */
    .view_full_note .time_info {
        gap: 1rem;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 480px) {
    /* phones */
}

@media (max-width: 360px) {
    /* small phones */
}