.pass_res_section {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-primary);
    background-image: linear-gradient(to right, var(--border-secondary) 1px, transparent 1px),
        linear-gradient(to bottom, var(--border-secondary) 1px, transparent 1px);
    background-size: 30px 30px;
}

.send_otp_container .input_group {
    background: var(--bg-primary);
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
}

.send_otp_container .input_group span {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color-primary-bright);
}

@media (max-width: 450px) {

    /* phones */

    .send_otp_container {
        width: 95%;
        margin-top: -15rem;
    }

    .button {
        width: 70%;
    }

}