/* navbar */
.navbar {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 3rem;

    position: fixed;
    top: 0;
    left: 0;

}

/* logo */
.navbar__left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar__left img {
    height: 6rem;
}

.navbar__left p {
    font-size: 2.5rem;
    color: var(--text-color-primary-light);
    text-transform: uppercase;
    font-family: var(--font-secondary);
}

/* navbar right */
.navbar__right {
    display: flex;
    align-items: center;
    gap: 2rem;
}


.theme_toggle {
    background: var(--bg-secondary);
    color: var(--text-color-primary-light);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    font-size: 2.5rem;
    transition: var(--transition);
}

.theme_toggle:hover {
    background-color: var(--hover-primary);
}