/* navbar */
.navbar {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1.5rem 2rem;
    
    position: absolute;
    top: 0;
    left: 0;
    transition: var(--transition);
    
}

.sticky {
    position: fixed;
    top: 0;


    
    left: 0;
    background-color: #00000057;
}

/* logo */
.navbar__left {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.navbar__left img {
    height: 5rem;
}

.navbar__left p {
    font-size: 2.2rem;
    color: var(--text-color-primary-light);
    text-transform: uppercase;
    font-family: var(--font-secondary);
}

/* navbar right */
.navbar__right {
    display: flex;
    align-items: center;
    gap: 2rem;
}


.theme_toggle {
    background: var(--bg-secondary);
    color: var(--text-color-primary-light);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    font-size: 2rem;
    transition: var(--transition);
}

.theme_toggle:hover {
    background-color: var(--hover-primary);
}