/* navbar */
.navbar {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1.5rem 2rem;
    user-select: none;

    position: absolute;
    top: 0;
    left: 0;
    transition: var(--transition);

}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000057;
}

/* logo */
.navbar__left {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.navbar__left img {
    height: 5rem;
}

.navbar__left p {
    font-size: 2.2rem;
    color: var(--text-color-primary-light);
    text-transform: uppercase;
    font-family: var(--font-secondary);
}

/* navbar right */
.navbar__right {
    display: flex;
    align-items: center;
    gap: 2rem;
    position: relative;
}

/* navbar navigaion menu */
.nevigationMenu {
    display: flex;
    align-items: center;
    gap: 2rem;
}

/* navbar curcular button */
.nav_btn_container {
    position: relative;
    cursor: pointer;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.responsive {
    overflow: hidden;
}

.nav_btn_container.active {
    border: 1.5px solid var(--text-color-primary-bright);
}

.link_name {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--font-four);
    display: none;
    color: var(--text-color-primary-light);
}

.navbar_circular_btn {
    background: var(--bg-secondary);
    color: var(--text-color-primary-light);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    transition: var(--transition);
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    overflow: hidden;
}


/* search bar contaner */
.Search_Bar_Container {
    transition: var(--transition);
}

/* search bar close button */
.searchBar_close {
    margin-left: 1rem;
    background: var(--bg-secondary);
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    border-radius: 5px;
    font-size: 2rem;
    color: var(--text-color-primary-light);
    cursor: pointer;
    display: none;
}

/* search bar button */
.searchbar_btn {
    display: none;
}

/* menu button */
.navigationMenu_btn {
    display: none;
}

.navbar_circular_btn:hover {
    background-color: var(--hover-primary);
}



/* navbar curcular button icons */
.navbar_circular_btn span {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* User profile sub menu */
.user_profile_sub_menu {
    width: 28rem;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: var(--box-shadow-primary);
    position: absolute;
    right: 0%;
    top: 6.5rem;
    transition: var(--transition);
    z-index: 2;
    background-color: var(--bg-secondary);

    visibility: hidden;
    opacity: 0;
    transform: translateY(1rem);

    /* visibility: visible;
    opacity: 1;
    transform: translateY(0); */

}

.nav_btn_container:hover .user_profile_sub_menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.visible {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 1200px) {
    /* large desktops */
}

@media (max-width: 1070px) {
    /* laptops */
}

@media (max-width: 980px) {
    /* tablets */

    /* search bar button */
    .searchbar_btn {
        display: block;
    }

    /* searchbar container */
    .Search_Bar_Container {
        background: var(--bg-primary);
        position: absolute;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        height: 8rem;
        left: 0;
        top: -8rem;
        padding: 1rem;
    }

    .searchBar_close {
        display: flex;
    }

    .Search_Bar_Container.active {
        top: 0;
        /* show when active */
    }

}

@media (max-width: 700px) {

    /* navigation menu */
    .nevigationMenu {
        position: absolute;
        top: 130%;
        z-index: 2;
        border-radius: 4px;
        flex-direction: column;
        width: 25rem;
        align-items: flex-start;
        background: var(--bg-primary);
        padding: 2rem 1rem;
        border: 2px solid var(--border-dark);
        display: none;
    }

    .nevigationMenu.active {
        display: flex;
    }

    /* mevigation menu button*/
    .navigationMenu_btn {
        display: block;
    }

    .navbar_circular_btn {
        background: var(--bg-secondary);
    }

    .responsive {
        width: 100%;
        border-radius: 5px;
        justify-content: flex-start;
        gap: 2rem;
        padding: 3rem 1rem;
    }

    .link_name {
        display: block;
    }

}

@media (max-width: 640px) {
    /* phones */

    .navbar__right {
        gap: 1rem;
    }

}

@media (max-width: 480px) {
    /* phones */


    .layout_btn {
        display: none;
    }

    .nevigationMenu {
        right: 50%;
    }

}

@media (max-width: 410px) {
    /* phones */

    .navbar {
        padding: 1.5rem 1rem;
    }

    .navbar__left {
        gap: 0rem;
    }

    .navbar__left p {
        font-size: 2rem;

    }
}

@media (max-width: 340px) {

    /* small phones */
    .navbar__left p {
        font-size: 1.7rem;
    }
}