.second_nav {
    padding: 0 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.sec_nav_left .notes_count {
    background: var(--bg-secondary);
    height: 4rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text-color-secondary-light);
    border-radius: 5px;
}

.sec_nav_right {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.notes-filter-dropdown {
    position: relative;
    display: inline-block;
    transition: var(--transition);
}

.filter-options {
    transition: var(--transition);
    position: absolute;
    top: 120%;
    width: 13rem;
    left: 0;
    background-color: var(--bg-secondary);
    border-radius: 5px;
    padding: 1rem 0;
    margin: 0;
    list-style: none;
    box-shadow: var(--box-shadow-primary);
    visibility: hidden;
    opacity: 0;
    transform: translateY(1rem);
    background-color: var(--bg-primary);
    border: 1px solid white;
}

.notes-filter-dropdown-hover:hover .filter-options {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.filter-options li {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: var(--transition);
    font-weight: 600;
    color: var(--text-color-secondary-light);
}

.filter-options li:hover {
    background-color: var(--hover-primary);
}

.button-icon {
    font-family: 2rem;
}


@media (max-width: 1200px) {
    /* large desktops */
}

@media (max-width: 1070px) {
    /* laptop */
}

@media (max-width: 915px) {
    /* tablets */

}

@media (max-width: 660px) {
    /* phones */

    .sec_nav_right {
        gap: 1rem;
    }

}

@media (max-width: 640px) {
    /* phones */

    /* secondary na btn */
    .sev_nav_btn_name {
        display: none;
    }

    .sec_nav_right {
        gap: 1rem;
    }

    .filter-options {
        left: -160%;
    }

}

@media (max-width: 480px) {
    /* phones */
}

@media (max-width: 360px) {
    /* small phones */
}