.home_section_container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;

    background-color: var(--bg-primary);
    background-image:
        linear-gradient(to right, var(--border-secondary) 1px, transparent 1px),
        linear-gradient(to bottom, var(--border-secondary) 1px, transparent 1px);
    background-size: 30px 30px;

}

.home_notes_section_container {
    height: calc(100% - 8rem);
    width: 100%;
    overflow: hidden;
    border-top: 2px solid var(--border-primary);
}