/* google font import link */
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Outfit:wght@100..900&family=Poetsen+One&display=swap');

/* CSS root variable */
:root {

    /* background colors */
    --bg-primary: #202124;
    --bg-secondary: #3b3c3e;

    --bg-button: #506ef3;

    /* colors */
    --text-color-primary-light: #ffffff;
    --text-color-secondary-light: #e8eaed;
    --text-color-tertiary-light: #dfdfdf;

    --text-color-primary-bright: #8da0f7;

    --text-color-primary-dim: #cecece;

    --text-color-primary-dark: #000000;

    /* hover colors */
    --hover-primary: #4a4a4a;

    /* border-color */
    --border-primary: #3b3c3e;
    --border-secondary: #2b2b2b9c;

    /* fonts */
    --font-primary: "Outfit", sans-serif;
    --font-secondary: "Poetsen One", sans-serif;
    --font-teritary: "Edu AU VIC WA NT Arrows", cursive;
    ;

    /* box shadow */
    --box-shadow-primary: 0 10px 15px rgba(0, 0, 0, 0.2);

    /* transitions */
    --transition: all 0.4s ease;
}


body.light-mode {

    /* background colors */
    --bg-primary: #202124;
    --bg-secondary: #3b3c3e;

    /* colors */
    --text-color-tertiary: #dfdfdf;
}


/* Universal Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}


/* HTML & Body Styling */
html {
    /* scroll-behavior: smooth; */
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--bg-primary);
    overflow: hidden;
}

/* Headings & Paragraph */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

/* Buttons */
button {
    border: none;
    outline: none;
    background: none;
    font: inherit;
    cursor: pointer;
}

/* Inputs & Textareas */
input,
textarea {
    border: none;
    outline: none;
    font: inherit;
    background-color: transparent;
}

/* Links */
a {
    text-decoration: none;
    color: inherit;
}

/* Lists */
ul,
ol {
    list-style: none;
    padding: 0;
}

/* Images */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* reusable classes */


/* BUTTON PRIMARY */
.button_primary {
    background-color: var(--bg-button);
    border-radius: 6px;
    box-shadow: var(--box-shadow-primary);
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transition: var(--transition);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-family: var(--font-primary);
    font-size: 1.5rem;
    color: var(--text-color-primary-light);
    font-weight: 600;
    letter-spacing: 0.1rem;
    border: 0.2rem solid transparent;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0 1.5rem;
    font-size: 1.4rem;
}

.button_primary:hover {
    background-color: var(--bg-primary);
    border-color: var(--border-primary);
    color: var(--text-color-primary-light);
}


.loder {
    animation: spin 1s linear infinite;
}

.loader_2_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

    background-color: var(--bg-primary);
    background-image:
        linear-gradient(to right, var(--border-secondary) 1px, transparent 1px),
        linear-gradient(to bottom, var(--border-secondary) 1px, transparent 1px);
    background-size: 30px 30px;
}

.loder_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color-primary-bright);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}






/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--bg-secondary);
    border: 2px solid var(--bg-primary);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.my_toast {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 500;
}