/* google font import link */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poetsen+One&display=swap');

/* CSS root variable */
:root {

    /* background colors */
    --bg-primary: #202124;
    --bg-secondary: #3b3c3e;

    /* colors */
    --text-color-tertiary: #dfdfdf;

    /* hover colors */
    --hover-primary: #4a4a4a;

    /* border-color */
    --border-primary: #3b3c3e;
    --border-secondary: #2b2b2b;

    /* fonts */
    --font-primary: "Outfit", sans-serif;
    --font-secondary: "Poetsen One", sans-serif;

    /* box shadow */
    --box-shadow-primary: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    /* transitions */
    --transition: background-color 0.3s ease, all 0.3s ease;
}


body.light-mode {

    /* background colors */
    --bg-primary: #202124;
    --bg-secondary: #3b3c3e;

    /* colors */
    --text-color-tertiary: #dfdfdf;
}


/* Universal Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}


/* HTML & Body Styling */
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--bg-primary);
    overflow: hidden;
}

/* Headings & Paragraph */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

/* Buttons */
button {
    border: none;
    outline: none;
    background: none;
    font: inherit;
    cursor: pointer;
}

/* Inputs & Textareas */
input,
textarea {
    border: none;
    outline: none;
    font: inherit;
    background-color: transparent;
}

/* Links */
a {
    text-decoration: none;
    color: inherit;
}

/* Lists */
ul,
ol {
    list-style: none;
    padding: 0;
}

/* Images */
img {
    max-width: 100%;
    height: auto;
    display: block;
}