.welcomePage {
    width: 100%;
    height: 100vh;
    background-color: var(--bg-primary);
    background-image:
        linear-gradient(to right, var(--border-secondary) 1px, transparent 1px),
        linear-gradient(to bottom, var(--border-secondary) 1px, transparent 1px);
    background-size: 30px 30px;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;

}

.welcomePage__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-align: center;
    margin-top: 5rem;
}

.welcomePage__content img {
    height: 10rem;
}

.welcomePage__content h1 {
    color: var(--text-color-secondary-light);
    font-size: 3.4rem;
    letter-spacing: 0.03rem;
    word-spacing: 0.1rem;
    font-weight: 600;
    text-transform: uppercase;
    font-family: var(--font-teritary);
    word-spacing: 0.5rem;
}

.welcomePage__content p {
    font-size: 2.4rem;
    word-spacing: 0.4rem;
    width: 60%;
    margin: 1rem 0;
    font-weight: 400;
    font-family: var(--font-teritary);
    -webkit-text-stroke: 1px var(--text-color-secondary-light);
}